@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Inter", sans-serif;
}




/* header nav */
nav{
  background-color: #1A0B2E;
  width: 100%;
  padding: 30px 15px;
  margin: 0 auto;
  
}
.navbar{
  display: flex;
  justify-content: space-between;
  /* padding: 16px 200px; */
  margin: 0 auto;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  
}
.logo img{
  /* width: 100%;
  height: 100%; */
  height: 40px;
}
.menu{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.menu a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}
nav .hamburger{
  color: #fff;
  display: none;
}
.subscribe-btn{
  display: flex;
  align-items: center;
  gap: 2px;
   font-size: 1rem;
  font-weight: 600;
  padding: 12px 14px;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(130deg, #F7E93F, #fb0eb1, #9100F8);
  border: none;
  cursor: pointer;
}

/* banner start */

/* .responsive{
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
.bg{
  background: url(./assets/hero-bg.png) center no-repeat;
  background-size: cover;
  width: 100%;
   min-height: 90vh;
  position: relative;
    


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    text-align: center;
  
}
 



.hero-circle{
  width: 290px;
  /* position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 290px; */
}

.microphone{
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;

  /* position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; */
}
.badge{

   position: absolute;
    top: 0;
    right: 20px;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 0 15px #00FF88;
  /* color: #1A0B2E;
  font-size: 18px;
  font-weight: 600;
  background-color: #00FF88;
  box-shadow: 0 3px 25px 0 #00FF88; 
  padding: 8px 16px;
  border-radius: 40px;
  position: absolute;
  right: 530px;
  bottom: 90px; */
}
.circle-microphone{
  position: relative;
  /* top: 40%; */
  margin-bottom: 130px;
}



 
.banner-title h2{
  color: #fff;
  font-size: 3.75rem;
  font-weight: 800;
  text-align: center;
}
.banner-title p{
  color: #fff;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  max-width: 600px;
}

/* animation */
@keyframes animation {
  from{
    left:0;
    color: #F7E93F;
  }
  to{
    right: 100px;
    color: #fb0eb1;
  }
}
.spotify{
  position: relative;
  animation: animation 1s ease-in-out 2s infinite alternate;
}


.spotify{
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 14px;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(130deg, #F7E93F, #fb0eb1, #9100F8);
  border: none;
  cursor: pointer;
}
.banner-subscribe{
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 14px;
  border-radius: 50px;
  color: #00FF88;
  background-color: transparent;
  border: 1px solid #00FF88;
  cursor: pointer;
}


.buttons{
  display: flex;
  gap: 8px;
  align-items: center;
}

.banner-info{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 20%;
  right: 20%;
}

/* About the Podcast */
.about-podcast{
  background-color: #1A0B2E;
}
.podcast{
  max-width: 1200px;
  height: 80vh;
  text-align: center;
  margin: 0 auto;
  
}
.podcast h2{
  padding-top: 12%;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2%;
}
.podcast p{
  font-size: 1rem;
  color: #fff;
  
}

.cards h4{
  color: #00ff88;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2%;
}
.cards p{
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
}
.cards{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 100px;
}

/* Why Choose TechWave */
.about-techwave{
  background-color: #230E3D;
  width: 100%;
  height: 900px;
}
.techwave-title{
  max-width: 1200px;
  margin: 0 auto;
}
.techwave-title h2{
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 5%;
}

.box-container{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  gap: 20px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.box{
  
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 30px;
  
}
.box h5{
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
.box p{
  color: #fff;
}
.box-1{
  grid-row: span 2;
}
.box-2{
  grid-column: span 2;
}
.box-3{
  grid-column: span 2;
}
.box-4{
  grid-column: span 2;
}
/* Featured Episodes */
.about-featured{
  background-color: #1A0B2E;
}
.featured-title h2{
 font-size: 3rem;
 font-weight: 700;
 text-align: center;
 padding-top: 70px;
 padding-bottom: 90px;
 color: #fff;
}
.iframe-parent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  height: 500px;
  margin: 0 auto;
}
.iframe-child{
  background-color: #250D44;
  border-radius: 24px;
  margin-bottom: 40px;
}
.iframe-video iframe{
  width: 100%;
  height: 250px;
  border-radius: 24px 24px 0px 0px;
}
.iframe-child h4{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px 15px;
  color: #fff;
}
.iframe-child p{
  font-size: 1rem;
  padding: 5px 15px;
  color: #fff;
}
.iframe-child span{
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  padding: 5px 15px;
}
/* Meet the Host */
.host{
  background-color: #1A0B2E;
  height: 80vh;
 }
 .host-title h2{
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
 }
 .alex-info h3{
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
 }
 .alex-info p{
  font-size: 1rem;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
 }
 .alex-parent{
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 26px;
  align-items: center;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 30px 40px;
  border-radius: 40px;
 }
 .alex-contact{
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 10px;
  align-items: center;
 }
/* footer section */

.footer-section{
  background: url(./assets/footer-bg.png) center no-repeat;
  width: 100%;
  height: 80vh;
  position: relative;
  background-size: cover;
  
}
.footer-logo img{
  width: 500px;
}
.footer-logo{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.child-icon p{
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.child-icon{
  display: flex;
  align-items: center;
  gap: 5px;
}
.parent-icon{
  display: flex;
  gap: 60px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.copyright{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.copyright P{
  color: #fff;
}






/* responsive */
@media screen and (max-width:576px){
nav{
  padding-left: 5%;
  padding-right: 5%;
}  
nav span{

  display: inline;
}
.menu{
  display: none;
}
.btn button{
  display: none;
}
.logo img{
  width: 100%;
  height: 100%;
}

/* header section */
/* .responsive{
  flex-direction: column-reverse;
} */
nav .hamburger{
  display: contents;
}
.subscribe-btn{
  display: none;
}
.bg{
  width: 100%;
  height: 80vh;
}

.hero-circle{
  width: 250px;
}

.microphone{
  width: 75px;
}
.badge{
  font-size: 16px;
  /* position: absolute;
  right: 130px;
  bottom: 80px; */
}

.spotify{
  width: 180px;
}
.banner-subscribe{
  width: 130px;
}
.banner-title h2{
  font-size: 2.5rem;
}
.banner-title p{
  color: #fff;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  width: 400px;
}
 
/* About the postcast */
  .cards{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
}
.podcast h2{
  font-size: 2.5rem;
}
.cards h4{
  font-size: 2rem;
}

/* Why Choose TechWave */
.techwave-title h2{
  font-size: 2rem;
  padding-top: 5%;
}
.about-techwave{
  background-color: #230E3D;
  width: 100%;
  height: 1300px;
}
.box-container{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 90%;
  gap: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* Featured Episodes */
 .iframe-parent{
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  height: 1500px;
}
.featured-title h2{
 font-size: 2rem;
}

/* Meet the Host */
.host{
  background-color: #1A0B2E;
  height: 140vh;
 }
 .host-title h2{
  font-size: 2rem;
  text-align: center;
 }
 .alex-info h3{
  text-align: center;
 }
 .alex-info p{
  text-align: center;
 }
 .alex-contact{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
 }
 .alex-contact{
  justify-content: center;
 }
 .alex-parent{
  flex-direction: column;
}

/* footer section */
 .footer-section{
  background-position: top center;
  width: 100%;
  height: 35vh;
  background-size: cover;
}
.footer-logo img{
  width: 200px;
}
.footer-logo{
  top: 25%;
  left: 50%;
}

.parent-icon{
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  top: 60%;
  left: 50%;
}
.copyright{
  top: 85%;
  width: 400px;
}

/* animation */
@keyframes animation {
  from{
    left:0;
    color: #F7E93F;
  }
  to{
    right: 50px;
    color: #fb0eb1;
  }
}
.spotify{
  position: relative;
  animation: animation 1s ease-in-out 2s infinite alternate;
}


}